body{
    background-image: url("./Assets/golfbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.nav{
    background-color: black;
    font-size: large;

    }

a{
    color: rgb(28, 156, 28);
}

.marginleft-md{
    margin-left: 100px;
}

.marginleft-xl{
    margin-left: 860px;
}

.margintop-md{
    margin-top: 50px;
}

.margintop-lg{
    margin-top: 23%;
}

.margintop-xl{
    margin-top: 30px;
}

.brand-color{
    color: #d8a86e;
}

.contact_color{
    color:#072c42

}

.form_header{
    padding-left: 30px;
    padding-bottom: 20px;
    max-height: 30px;
    

}

.form_style{
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
    background-color: rgb(4 2 3);
    max-width: 450px;
    height: 400px;
    opacity: .9;

}

.form_input{
    padding-left: 20px;
    padding-top: 30px;
    color: #d8a86e;
}

.heading_home{
    font-size: 10rem;
}

.heading_contact{
    font-size: 3rem;
    
}

.col{
    box-shadow: 10px 10px 8px #888888;
    border-radius: 25px;
    height: 400px;
    background-color: #d8a86e;
    margin: 20px;
    text-align: center;
    opacity: .9;
}

.cell_placement{
    margin-top: 5%;
    max-height: 70%;
}

.heading_portfolio{
    text-align: center;
    font-size: 4.5rem;
  
}

.image_dtg{
    content: url("./Assets/dtg.jpg");
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}

.image_atm{
    content: url("./Assets/atm.jpg");
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}

.image_mostwanted{
    content: url("./Assets/database.png");
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}

.image_rpsls{
    content: url("./Assets/rpsls.png");
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}

.image_future{
    content: url("./Assets/coming-soon.png");
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}


* {
    box-sizing: border-box;
  }
  
  
  .column-2 {
    border-radius: 5%;
    width: 45%;
    padding: 20px;
    padding-left:370px;
    padding-right: 50px;
    height: 540px;
    margin-top: 25px;
    margin:30px;
    margin-left: 28%;
    margin-right:60px;
    margin-bottom: 70px;
    background-color: #d8a86e;
    line-height:1.5;
  }


.large-profile {
    transform: scale(.75,1);
    background: url("./Assets/profile.jpg");
    background-size: 100%;
    background-position: center;
    
  }

.front_box{
    padding-right: 30px;
    height: 450px;
    width: 220px;
    position:absolute;
    top: 250px;
    z-index: 2;
}

.back_box{
    position:relative;
    z-index: 1;
}